[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.com

[Service]
{% if proxy_enabled %}
Environment="HTTP_PROXY={{ proxy_url }}" "HTTPS_PROXY={{ proxy_url }}" "NO_PROXY=localhost,127.0.0.1
{% endif %}
ExecStart=/usr/bin/docker daemon \
  --iptables=false \
  --ip-masq=false \
  --host=unix:///var/run/docker.sock \
  --log-level=error \
  --storage-driver=overlay
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
